@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans&display=swap');
 
/*CSS rules below are used to specify the family.
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Open Sans', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* Website headings */
h1, h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 20px;
}
#logo:hover{
    border-bottom: 2px solid black;
}

#menu, #logo {
    line-height: 75px;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 2px solid black;
}
#hero-image{
    height: 600px;
    width: 100%;
    background: url("images/hero-image.webp") no-repeat gray;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
#hero-outer{
    height: 600px;
    width: 100%;
    /* This helps stop the flow going over the header */
    overflow: hidden;

    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text{
    font-size: 130%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#club-ethos{
    height: 600px;
}
#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    background: ;
}
#right-about{
padding-top: 30px;
width: 33%;
float: right;
background: ;
}
#center-about{
width: 33%;
/* center the div */
margin: 0 auto;
background: green;

}
hr{
    border-top: 1px solid #3a3a3a;
}
.left-about-heading{
width: 60%;
float: right;
line-height: 20px;
clear:both;
margin-bottom: 50px;
}
.right-about-heading{
width: 60%;
float: left;
line-height: 20px;
clear:both;
margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}