@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans&display=swap');
 
/*CSS rules below are used to specify the family.
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Open Sans', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* Website headings */
h1, h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
}
#logo:hover{
    color: whitesmoke;
    background-color: black;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}